<a href="https://colab.research.google.com/github/romerocruzsa/python-basic-training/blob/colab-uploads/PythonBasics_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Copyright 2020 Google LLC.

*Changes made subject to discretion of revision author, Sebasti√°n A. Cruz Romero*

In [63]:
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Python Basics - Part 1

Python is the most common language used for machine learning. It is an approachable yet versatile language that's used for a variety of applications.

It can take years to learn all the intricacies of Python, but luckily you can learn enough Python to become proficient in machine learning in a much shorter period of time.

This Colab is a quick introduction to the core attributes of Python that you'll need to know to get started. This is only a brief peek into the parts of the language that you'll commonly encounter as a data scientist. As you progress through this course, we'll introduce you to the Python concepts you'll need along the way.

If you already know Python, this lesson should be a quick refresher. You might be able to simply skip to the exercises at the bottom of the document.

If you know another programming language, you will want to pay close attention because Python is markedly different than most popular languages in use today. If you are new to programming, welcome! Hopefully this lesson will give you the tools you need to get started with data science.

### **This notebook will cover the following topics:**
1. Variables
2. Basic Data Types
  1. Strings
  2. Integers
  3. Floating-points
  4. Booleans
3. Printing

## Variables

One of the most important notions in any programming language is the **variable**. Variables are how we store data we want to use later.

When we have an expression like `2 + 3`, Python calculates the value of `5` and then forgets that the value ever existed. We need some way to store the values of expressions so that they can be used later in the program. To do that, we use variables.

In the example below, the value of `2 + 3` is stored in the variable `x`.

In [1]:
x = 2 + 3
print(x)

5

Variables store values, and those values can be used in expressions.

In [2]:
x = 2
y = 3
print(x + y)

5

A variable value can also be changed, hence the name *variable*.

In [3]:
x = 123
x = 456
print(x)

456

There are very few rules regarding what you can name a variable. The first character needs to be an alphabetic character. After the first character, any alphanumeric character can be used. Underscores are also okay to use anywhere in a variable name, but stay away from naming a variable with two underscores at the beginning, since Python uses leading double-underscores for internal things. (This will be seen in a later lesson.)

Here are a few valid variable names:

In [4]:
number = 1
my_number = 2
YourNumber = 3
_the_number_four = 4
n5 = 5
NUMBER = 6

number + my_number + YourNumber + _the_number_four + n5 + NUMBER

21

Notice that `number` and `NUMBER` are different variables. Case matters.

Although Python will accept other styles, it is common convention to name constants in all caps (e.g. `THE_NUMBER`) and variables using lower_with_underscore syntax (e.g. `a_number`). See the [Python Style Guide](https://peps.python.org/pep-0008/#naming-conventions) for more on naming conventions. Adhere to the guide when you can. It will help others understand your code and it will train you to be able to read other programmers' Python code.


Naming variables is an important aspect of computer programming. Variables serve as a form of documentation within your code. Good names will help your teammates and your future self understand what your code is doing when they are trying to modify it. Take some time to think about your variable names as you create new variables.

It is also important to keep your variable naming style consistent. Don't use different naming styles (such as `this_variable` and `thisVariable`) in the same file/package unless you have a valid reason to do so.

## Basic Data Types

This section will introduce you to some of the most common data types that you'll encounter. Data types are the foundational building blocks for any Python code. That includes but is not limited to:
1. Strings
2. Integers
3. Floating-points
4. Booleans

### Strings

The **string** data type can contain zero or more characters. In order for Python to know that a string is a value and not part of the code, strings have to be wrapped in quotes.

Some example strings are:

In [5]:
"Python is a "
'useful programming language'

'useful programming language'

Single and double-quotes are interchangeable, and both occur frequently. In general, try to pick one style of quotation marks and stick with it, unless you need to use that type of quote in a string.

The following string requires the `'` character within the string, so it makes sense to use `"` as the quotation marks.

In [6]:
"I've been learning Python"

"I've been learning Python"

But what if you need to use both `'` and `"` in the same string? In that case you can *escape* the embedded quote using the `\` character. The `\` tells Python to read the character `'` as it is, and not as the end of the quotation.

In [7]:
'They\'ve had a "good" trip'

'They\'ve had a "good" trip'

You probably noticed that the escape character, `\`,appears in the output. This is just a side effect of how Colab is printing the string. We'll learn a cleaner method of printing a string soon.

The triple-quote (`"""` or `'''`) is another type of quote that you can use to create a string. The triple-quote allows you to have a multi-line string. It is often used when writing documentation directly in your code.

In [8]:
"""This is a string
surrounded by three double-quotes
and spanning multiple lines.
"""

'''This is a string
surrounded by three single-quotes
and spanning multiple lines.
'''

'This is a string\nsurrounded by three single-quotes\nand spanning multiple lines.\n'

You can see in the output that the string shows up on one line with `\n` added where the line breaks were. `\n` is a special escape sequence that means "line feed", which is typewriter-speak for moving to the next line. `\t` is another common escape sequence that represents a tab. `\\` adds a backslash `\` to the string.

Strings can be stored in variables. The `+` operator also works on strings, by concatenating them together.

In [9]:
s1 = "The Python "
s2 = "programming"
s3 = " language is easy to learn"
print(s1 + s2 + s3)

The Python programming language is easy to learn

The `*` operator also works with strings, resulting in the string repeated multiple times. However, other arithmetic operators such as `-` and `/` don't work with strings.

In [10]:
'ABC ' * 5

'ABC ABC ABC ABC ABC '

Python has a handy built-in way to find the *length* of a string, which is the number of characters in the string.

In [11]:
len("pneumonoultramicroscopicsilicovolcanoconiosis")

45

If you need to extract a specific character from a string, you can specify that character by *indexing* it. Notice that in Python, the first character of a string is at index 0. Most popular programming languages start counting at 0.

In [12]:
"abcdefghijklmnopqrstuvwxyz"[1]

'b'

You can also extract a *slice* of a string. A slice is a portion of a string referenced by the starting and ending index. The starting index is inclusive, and the ending index is exclusive. The slice below returns a four-character string.

In [13]:
alphabet = "abcdefghijklmnopqrstuvwxyz"
alphabet[1:5]

'bcde'

Slices have some handy shortcuts if you want to start at the beginning or go all the way to the end of a string.

In [14]:
alphabet[:3]

'abc'

In [15]:
alphabet[23:]

'xyz'

Strings are *objects* in Python. We won't get into the details of what an object is in this tutorial, other than to mention that objects can have functions and methods called on them using **dot notation**. Below is an example object call on the alphabet string, that converts the entire string to uppercase. Notice that the function is called `alphabet.upper()` instead of `upper(alphabet)`, as we saw with the `len()` function.

In [16]:
alphabet.upper()

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

### Integers

Integers are just whole numbers. This includes positive whole numbers (1, 2, 3, ...), 0, and negative whole numbers (-1, -2, -3, ...). The cell below demonstrates the addition of two integers.

In [17]:
42 + 8

50

Python can do all the common operations you are familiar with.

In [18]:
substraction = 4 - 2
multiplication = 2*3
exponents = 2**3

print(substraction)
print(multiplication)
print(exponents)

2
6
8

**Division** is a bit more complicated. If a number doesn't divide evenly, such as `13 / 5`, we get what is called a floating-point number. We will talk about floating-points in a bit, but for now, we can use `//` when dividing, also known as "floor division". This operator removes any decimal remainder (e.g. 14.1 and 14.9 both become 14). To find this remainder, we can use a modulo operator, `%`.

In [19]:
quotient = 14 // 4
remainder = 14 % 4 # Modulo

print(quotient)
print(remainder)

3
2

Multiple mathematical operations can be combined, as below:

In [20]:
7 ** 7 + 7 * 7 - 7 * 7 // 7

823585

The code above can be a bit difficult to read. How does Python know which numbers to process first?

Python enforces an order of precedence where operations like taking the exponent come before multiplication and division, which come before addition and subtraction. (See this guide to [order of operations](https://www.mathsisfun.com/operation-order-pemdas.html).) There are actually more operators than what we've seen so far and it can be hard to remember the order of operations, so when in doubt you can wrap parentheses around operations to make things clearer.

In [21]:
(7 ** 7) + (7 * 7) - ((7 * 7) // 7)

823585

### Floating-point Numbers

It might seem complicated, but Python has a few ways of representing numbers. You have already seen the integer data type. This section is about floating-point numbers.

The different data types representing numbers have a different place in the world of computing. In some languages, it is quite challenging to move from one type of number to another (e.g. from an integer to a floating-point). In Python, the mixing of integers and floating-point numbers is more fluid. This is great most of the time, but can be problematic at times. It is important to be aware, especially when doing division, when you are working with floating-point numbers or integers.

Earlier we looked at floor division using `//`. The cell below uses regular division using `/`.

In [22]:
50 / 10

5.0

In this case we can see that there is a decimal point (`.`) in the output. This is generally how we'll know that we're working with floating-point numbers.

You can force operations to be floating-point operations by including one floating-point number in the equation. Note the difference between the following two numbers.

In [23]:
print(2 + 3)
print(2.0 + 3)

5
5.0

The cell below demonstrates a standard division of two floating-point values.

In [24]:
322.231 / 0.03

10741.033333333333


The result `10741.033333333333` is clearly a floating-point number, with a decimal portion of `.033333333333`. Here is what happens when we apply floor division to two floating-point values:


Note that the result `10741.0` has a decimal portion of `.0` now, but the decimal point indicates that it is a floating-point value.

Python has a very useful package with more advanced math tools. To import this package, all you need to do is add the following line to your code.

In [25]:
import math

This package gives us access to a bunch of useful things, such as trigonometric functions like sines and cosines, and mathematical constants like *ùùÖ* and *ùêû*. To use them, we just type `math`. followed by the specific function we want to use. In Colab, if you've already imported the library, typing `math`. should show a list of available functions.

If you get an error running the following cell, make sure you run the cell above which imports the `math` package.

In [26]:
math.pi

3.141592653589793

Here, `math.pi` (ùõë) is represented as a floating-point number. Since ùõë is an irrational number, its value cannot be represented with a decimal, so the value of `math.pi` is not exactly the value of ùõë. However for most use cases, it is close enough.

While computers cannot generate truly random numbers, computer scientists have come up with some very clever ways to get pseudo-random numbers. These numbers aren't perfectly random, but are usually close enough such that it doesn't matter. In Python, it is very easy to get a variety of pseudo-random values using the `random` library. It is imported using the same syntax as seen earlier to import the `math` library.

In [27]:
import random

As we saw with the `math` library, any time we want to use a function from the library, we need to preface the function name with `random`. To get a random floating-point value uniformly chosen between 0 and 10, we can type the following command.

f you get an error running the following cell, make sure you run the cell above which imports the `random` package.

In [28]:
random.uniform(0,10)

5.055339898113758

Alternatively, we can get a random value between 0 and 1 using `random.random()` and simply multiply it by 10 to achieve the same thing. There are cases where one method might be preferable over the other, so it is useful to know them both.

In [29]:
random.random()*10

7.300987909020471

There are a lot more kinds of random numbers that we can use, but we'll talk about that more a bit later.

Don't be intimidated by the differences and interactions between floating-point numbers and integers. Most of the time you won't need to be concerned about it. However, if you see surprising results when doing math in Python, be sure to double-check the data types of the numbers in your operations.

### Booleans

The boolean is another core data type in Python. Booleans, often abbreviated to "bools", can be thought of as switches, with an "on" and an "off". Bools are represented simply by **True** and **False**.

In [30]:
True

True

In [31]:
False

False


Bools are often combined with logical operators such as **`and`** and **`or`**. Suppose you have two boolean variables, `a` and `b`.

* `a and b` is `True` if and only if both `a` and `b` are `True`, otherwise it is `False`.
* `a or b` is `True` if and only if at least one of `a` or `b` is `True`, otherwise it is `False`.

Here's a visual representation to help you out.

![image.png]()

**Boolean Statements for `and`**

In [32]:
True and True

True

In [33]:
True and False

False

In [34]:
False and True

False

In [35]:
False and False

False

**Boolean Statements for `or`**

In [36]:
True or True

True

In [37]:
True or False

True

In [38]:
False or True

True

In [39]:
False or False

False

These expressions of `truthiness` can be expanded beyond two operands:

In [40]:
False and True or True and False or True

True

Just like with numbers, you can change the order in which the boolean operators are conducted, with parentheses.

In [41]:
False and (True or True and False or True)

False

Truthiness can be flipped with the **`not`** operator:

In [42]:
not True

False

In [43]:
not False

True

In most cases, you won't be working directly with **`True`** and  **`False`**. Most of the time, these values will be returned from other expressions. Take for instance the greater than (>), less than (<), greater than or equal to (‚â•), and less than or equal to (‚â§) expressions below:

In [44]:
2 > 1

True

In [45]:
2 < 1

False

In [46]:
1 >= 1

True

In [47]:
2 <= 1

False

There are also checks for equality and inequality:

In [48]:
1 == 2

False

In [49]:
1 != 2

True

Why is "equals" represented as `==` instead of just `=?` As you saw earlier with variables, you can use `=` to assign a value to a variable. Therefore, Python needs a different symbol to check for equality. If you want to assign the variable a to the value 3, you can use `a = 3`. Now, if you want to check if it is equal to 3, you can use `a == 3`.

In [50]:
a = 3
print(a)
print(a == 3)
print(a == 2)
a = 2
print(a)
print(a == 2)

3
True
False
2
True

You can combine the logical **`and`**, **`or`**, and **`not`** expressions and the **`>`**, **`>=`**, **`<`**, **`<=`**, **`==`**, **`!=`** expressions. Parentheses are again used to change the order of operation evaluation.

In [51]:
(1 < 2) and (3 == 3) or ((4 > 1) and (not 1 < 2))

True

We can also use the **`>`**, **`>=`**, **`<`**, **`<=`**, **`==`**, **`!=`** expressions with two strings to determine whether strings are in alphabetical order.

In [52]:
'apple' < 'banana'

True

Of note is that capital letters are sorted before lowercase e.g. `'A' < 'a'`.

In [53]:
'Apple' < 'apple'

True

## Printing


So far, we have relied on Colab to print out the data that we have been working with. This works fine for simple examples, but it doesn't work if you want to print multiple times in a code snippet.

The **`print`** function allows you to print any data structure to the screen.

In [54]:
my_variable = "I'm a variable"
print(my_variable)
print("Hello class!")
print(12345)
print(123.45)
print(['a', 3, 'element list'])
print(('a', 3, 'element tuple'))
print({"my": "dictionary"})

I'm a variable
Hello class!
12345
123.45
['a', 3, 'element list']
('a', 3, 'element tuple')
{'my': 'dictionary'}

You'll notice that `print` adds a new line to the output every time it is called. We can add an `end=''` argument to the `print` to take away the new line.

In [55]:
print("The magic number is ", end='')
print(42)

The magic number is 42

There is another Python feature that, though not strictly just for printing, is commonly used when printing: **text formatting**.

Text formatting allows you to print multiple values in a single `print` statement and to mix strings and numbers.

In [56]:
print("%s says that the numbers %d and %f sum to %f" % ("Bob", 3, 5.1, 3 + 5.1))

Bob says that the numbers 3 and 5.100000 sum to 8.100000

There is quite a bit going on in the code above, so let's break it down into pieces:

The first string we see in the `print` call is `"%s says that the numbers %d and %f sum to %f"`. This string contains `%s`, `%d`, and `%f` placeholders. These placeholders tell Python that we expect a string (`%s`), integer (`%d`), or floating-point number (`%f`) that we'll put in the string. (A floating-point number is any non-integer number.)

Next we see a percentage sign `%` after the string. This is the string formatting operator. It comes after a string and precedes the tuple containing the data that will populate the placeholders in the string.

Finally comes the tuple containing the data that will populate the placeholders. The data in the tuple should be in the same order that the placeholders appear in the string. For example, the second placeholder is `%d`, and the second item in the tuple is the integer `3`.

There is a more modern and object-oriented formatting function that can be used to achieve the same goal. Notice the placeholders in the string passed to the `print` function are all curly braces. Also, the floating-point values are truncated to the appropriate number of decimal points in the output.

In [57]:
print("{} says that the numbers {} and {} sum to {}".format("Bob", 3, 5.1, 3 + 5.1))

Bob says that the numbers 3 and 5.1 sum to 8.1

When the values you want to print are saved as variables, you can also pass them in the `print` function by typing `f` before the quotation marks and putting the variable names in the curly braces.

In [58]:
name = "Bob"
value1 = 3
value2 = 5.1
print(f"{name} says that the numbers {value1} and {value2} sum to {value1 + value2}")

Bob says that the numbers 3 and 5.1 sum to 8.1

# Practice Exercises

#### **Exercise 1: Print Statements**

In [59]:
#@markdown Run this cell before starting the exercise.
#@markdown It initializes the values of some hidden variables.

name = "Alex"
favorite_food = "chocolate"

We have hidden the values of variables `name` and `favorite_food` in the cell above. Use a `print` statement to find out their values.

**Student Solution**

#### **Exercise 2: Four Fours Problem**

Don't spend more than 15 minutes on this problem, but give it a few tries.

Change the operations and add parenthesis as necessary to try and come up with as many numbers between 1 and 42 as you can.

**Student Solution**

#### **Exercise 3: Operators and Comparators**

In [60]:
#@markdown Run this cell before starting the exercise.
#@markdown It initializes the values of some hidden variables.

favorite_letter = 'K'
favorite_number = 42

We've hidden the values of variables `favorite_letter` and `favorite_number` (an integer between 0 and 100). Use boolean expressions to find the values of the letter and the number.

**Student Solution**

In [61]:
# Edit the expression below until you discover the hidden number
print(favorite_number <= 100)

True

**Student Solution**

In [62]:
# Edit the expression below until you discover the hidden number
print(favorite_letter <= 'Z')

True